extends ../layouts/default
block visHeader
	script(src="//cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js")
	link(href="//cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css", rel="stylesheet")
	link(href="/styles/graph.css", rel="stylesheet")

			
block content
	.row
		.col-md-10.col-md-offset-1
			.selectList
				if workingGroups
					.dropdown
							button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Working Group 
								b.caret
							ul.dropdown-menu
								li: a(href='/task-map/') Alle
								each wGroup, wGroup_i in workingGroups
									li: a(href='/task-map/' + wGroup.key)
										= wGroup.name
			.subtitle
				if workingGroup
					h4= workingGroup.name
				else
					h4 Alle	
			#visualization
			#legend
				if workingGroups
					each wGroup, wGroup_i in workingGroups
						div
							a(href='/task-map/' + wGroup.key)
								icon(class="glyphicon glyphicon-stop", id=wGroup.key)
								= wGroup.name


block js
	script.
		var nodes = !{JSON.stringify(graphData.nodes)};
		var relations = !{JSON.stringify(graphData.relations)};
	script(src='/js/graph.js')
