extends ../layouts/default
block visHeader
	script(src="//cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js")
	link(href="//cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css", rel="stylesheet")
	link(href="/styles/graph.css", rel="stylesheet")

			
block content
	.row
		.col-md-10.col-md-offset-1
			#subtitle
				h4= workingGroupFilter.name
			#visualization
			#legend
				if workingGroups
					each wGroup, wGroup_i in workingGroups
						div
							a(href='/graph/' + wGroup.key)
								icon(class="glyphicon glyphicon-stop", id=wGroup.key)
								= wGroup.name


block js
	script.
		var nodes = !{JSON.stringify(graphData.nodes)};
		var relations = !{JSON.stringify(graphData.relations)};
	script(src='/js/graph.js')
