extends ../layouts/default

block content
	.container: .jumbotron
		h1 Welcome to NIKAapp
		hr
		p
			a(href='/task-map', style='margin-right: 10px').btn.btn-lg.btn-primary Task Map
			|  to see the Tasks Map.
		p
			a(href='/timeline', style='margin-right: 10px').btn.btn-lg.btn-primary Timeline
			|  to see the Timeline.
		p
			a(href='/nextcloud', style='margin-right: 10px').btn.btn-lg.btn-primary Nextcloud
			|  to see the Nexcloud page.
		p
			a(href='/admin/tasks', style='margin-right: 10px').btn.btn-lg.btn-primary Tasks Admin
			|  to see the Tasks Admin Interface.
		hr
