extends ../layouts/default

block content
	.container: .jumbotron
		h1 Nexcloud
		hr
		if user && user.canAccessKeystone
			.alert.alert-info
				strong Download der Nextcloud-Inhalte hier!
				|<br>
				|(Upload und Änderung der Daten auf Nextcloud ist nur über den individuellen Nextcloud-Account möglich)
			p
				a(href="https://cloud.nika.haus/nextcloud/index.php/s/" , target="_blank").btn.btn-lg.btn-primary Open the Open Nextcloud Data
		hr
