#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
	display: block;
	max-width: 100%;
	height: auto;
}


.hovermsg {
	text-decoration:none;
	position:relative;
	display:none;
	z-index:100;

	&.active{
		 display:block;
		 position:fixed;
	 	 overflow:hidden;
	 }
}

.newTask{
  float: right;
  padding-bottom: 10px;
}
.selectList{
  float: left;
  padding-bottom: 10px;

}
.subtitle{
  float: left;
  padding-left: 10px;
}

//specific working groups colours
#architektur-ag {
	color: #69D2E7;
}

#finanz-ag {
	color: #A7DBD8;
}

#geschaeftsfuehrung {
	color: #E0E4CC;
}

#selbstverstaendnis-ag {
	color: #F38630;
}

#vereinsvorstand {
	color: #FA6900;
}

#oeffentlichkeits-ag {
	color: gray;
}

.legend{
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  vertical-align: baseline;
  text-align: right;

  div{
    display: inline-block;;
    white-space: nowrap;

    & a{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

  }
}
