.vis-item-content {
  border-color: darkred;
  background-color: white;
  color: black; }
  .vis-item-content div[class='row'] {
    padding-left: 12px;
    padding-right: 12px; }
  .vis-item-content #architektur-ag {
    color: white;
    background-color: #69D2E7; }
  .vis-item-content #finanz-ag {
    color: white;
    background-color: #A7DBD8; }
  .vis-item-content #geschaeftsfuehrung {
    color: white;
    background-color: #E0E4CC; }
  .vis-item-content #selbstverstaendnis-ag {
    color: white;
    background-color: #F38630; }
  .vis-item-content #vereinsvorstand {
    color: white;
    background-color: #FA6900; }
  .vis-item-content #oeffentlichkeits-ag {
    color: white;
    background-color: gray; }
  .vis-item-content #erdgeschoss-ag {
    color: white;
    background-color: #94c7c4; }
