.vis-item-content {
  border-color: darkred;
  background-color: white;
  color: black;
  div[class='row']{
    padding-left: 12px;
    padding-right: 12px;
  }
  #architektur-ag {
    color: white;
    background-color: #69D2E7;
  }

  #finanz-ag {
    color: white;
    background-color: #A7DBD8;
  }

  #geschaeftsfuehrung {
    color: white;
    background-color: #E0E4CC;
  }

  #selbstverstaendnis-ag {
    color: white;
    background-color: #F38630;
  }

  #vereinsvorstand {
    color: white;
    background-color: #FA6900;
  }

  #oeffentlichkeits-ag {
    color: white;
    background-color: gray;
  }
}
